/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height:0px;
    --header-height: 68px;
    }
    /* Bar on mobile and tablet */

    .header__bar-mobile-tablet {
        position: fixed;
        width: 50%;
        height:2000px;
        background-color: #999;
        z-index: 12;
    }
    .header__navbar-bar-option {
        display: block;
        width: 50px;
        height: 50px;
    }
    .header__navbar {
        flex-direction: column ;
        align-items: start;
        justify-content: start;
    }
    .header__navbar-list {
        width: 100%;
        flex: 1;
        flex-direction: column ;
        margin: 0;
        justify-content: start;

    }
    .header__navbar-item {
        padding: 54px 0;
        font-size: 4rem;
        height: 48px;
        font-weight: 450;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-left: 12px;
    }
    .header__navbar-item--separate::after{
        display: none;
    }
    .header__navbar-list .header__navbar-item-bold-1 {
        font-style: 20px;
        margin: 0;
    }
    .header__navbar-list .header__navbar-item-bold-2 {
        font-style: 20px;
        margin: 0;
        
    }
    .header__navbar-list-link {
        font-size: 4rem;
        align-items: center;
        font-weight: 450;
    }
    .header__navbar-icon{
        font-size: 3.6rem;
        margin: 12px;
    
    }
    .header__navbar-item-icon {
        display: flex;
        font-weight: 300;
        font-size: 1.45rem;
        margin-bottom: 2px ;
        align-items: center;
        display:block;
        text-decoration: none;
        color: var(--white-color);
    }
    .header__navbar-item-icon:first-child {
        padding-left: 12px;
    }
    .header__navbar-item--has-qr:hover .header__qr {
        opacity: 1;
        display: block;
    
    }
    
    /* Header_QR */
    .header__qr{
        z-index: 1;
        left: 100%;
        width: 300px;
        top: 0%;
        padding: 8px;
        display: none;
        border-radius: 3px;
        position: absolute;
        background-color: var(--white-color);
        animation: fadeIn ease-in .3s;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    
    }
    .header__qr::before {
        left: 0;
        top: -2px;
        content: "";
        width: 100%;
        height: 10%;
        display: block;
        position: absolute;
    }
    .header__qr-img {
        width: 100%;
        height: 100%;
    }
    .header__qr-apps {
    padding: 12px 0;
     display: flex;
     justify-content: space-between;
    }
    .header__qr-link:nth-child(2) {
        margin-right: 11px;
    }
    .header__qr-link:nth-child(1) {
        margin-left: 11px;
    }
    .header__download {
        height: 28px;

    }
    /* Notification */
    .header__navbar-item-notifi {
        font-size: 3rem;
    }
    .header__navbar-item-notifi:hover .header__notifi {
        display: block;
    }
    .header__notifi {
        top: -210%;
    left: 100%;
        z-index: 10;
        right: -20%;
        width: 404px;
        display: none;
        cursor: default;
        margin-top: 8px;
        position: absolute;
        border: 1px solid #d3d3d3; 
        animation: Growth ease-in 1s;
        will-change: opacity , transform;
        background-color: var(--white-color);
        transform-origin: calc(100%-20px) top;
    }
    .header__notifi::before {
        display: none;
        top:-31px;
        content: "";
        right: 30px;
        position: absolute;
        border-style: solid;
        border-width: 20px 28px;
        border-color: transparent transparent #fff transparent;
    
    }
    .header__navbar-item-notifi::after {
        right:0;
        top:16px;
        width:94px;
        content: "";
        height:20px;
        position: absolute;
    
    
    }
    .header__notifi-header {
        height:40px;
        cursor: none;
        background-color: var(--white-color);
    
    }
    .header__notifi-header h3 {
        opacity: 0.9;
        color:#999;
        cursor:default;
        font-weight: 400;
        line-height:40px;
        font-size: 1.6rem ;
        margin-bottom: 12px;
    }
    
    .header__notifi-list {
        padding-left: 0;
        list-style: none;
    }
    .header__notifi-link {
        margin: 0;
        width: 100%;
        display: flex;
        padding: 12px;
        align-items: center;
        text-decoration: none;
        background-color: rgba(245, 62, 45,0.4);
    }
    .header__notifi-link:hover {
        background-color:#f1f1f1;
    }
    .header__notifi-img {
       width: 48px;
       object-fit: contain;
       
    }
    .header__notifi-info {
        margin-left: 12px;
    }
    .header__notifi-name {
        display: block;
        font-weight:300;
        line-height: 1.3;
        font-size: 1.4rem;
        color: var(--text-color);
    }
    .header__notifi-desc {
        display: block;
        margin-top:4px;
        color:#756f6e;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .header__notifi-footer {
        height: 42px;
        text-align: center;
    }
    .header__notifi-footer-btn {
        display: block;
        font-weight: 350;
        line-height: 42px;
        font-size: 1.4rem;
        text-decoration: none;
        color: var(--text-color);
    
    }
    /* User */
    .header__navbar-user {
        z-index: 2;
        display: none;
        position: relative;
        align-items: center;
        justify-content: center;
    
        
    
    }
    .header__navbar-avatar {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        border: 0.5px solid rgba(0,0,0,0.2);
    }
    .header__navbar-user-name {
        margin-left: 4px;
        font-weight: 400;
        font-size: 1.4rem;
    }
    .header__navbar-user-menu {
        top: 100%;
        right: 0;
        padding: 0;
        width: 160px;
        display: none;
        list-style: none;
        border-radius: 2px;
        position: absolute;
        box-shadow: 0 0 3px #999 ;
        animation: fadeIn linear .2s;
        background-color: var(--white-color);
        z-index: 1;
    }
    .header__navbar-user-menu::before {
        top:-28px;
        content: "";
        right: 30px;
        position: absolute;
        border-style: solid;
        border-width: 20px 28px;
        border-color: transparent transparent #fff transparent;
    
    }
    .header__navbar-user-menu::after {
        right: 0;
        top:-12px;
        content: '';
        height:24px;
        width: 100%;
        position: absolute;
    }
    .header__navbar-user-item a{
        display: block;
        font-size: 1.4rem;
        padding: 8px 10px;
        text-decoration: none;
        color: var(--text-color);
    }
    .header__navbar-user-item a:hover {
        opacity: 1;
        background-color: rgb(0,0,0,0.1);
    }
    
    .header__navbar-user:hover .header__navbar-user-menu {
        display: block;
    }
    /* Search and selection */
    .hide-on-mobile-tablet {
        display: none;
    }
    .header__search-selec {
        padding-left: 0;
        width: 100%;
    }
    .header__search-input-wrap {
        width: 50%;
    } 
    .header__search-selec-label {
        padding-left: 0;
        
    }
    
    .header__search-option {
        z-index: 11;
    }
    /* Cart */
    .header__cart-list-product {
        max-height: 22vh;
        overflow-y: auto;
    }
    .header__cart-wrap:focus .header__cart-list {
        display: block;
    }
    /* Sort bar */
    .header__sort-bar {
        display: flex;
    }
    /* Container */
    .content {
        padding-top: 8px;
    }
    /* Category */
    .mobile-category {
        display: block;
    }
    .mobile-category__list {
        display: flex;
        padding-left: 0;
        list-style: none;
        max-width: 100%;
        overflow-x: auto;
        
    }
    .mobile-category__list::-webkit-scrollbar {
        display: none;
    }
    .mobile-category__item {
        flex-shrink: 0;
        margin-right: 12px;
    }
    .mobile-category__item:nth-last-of-type(3n + 1) .mobile-category__link {
        background-color: #87afd8;
    }
    .mobile-category__item:nth-last-of-type(3n + 2) .mobile-category__link {
        background-color: #76c9bd;
    }
    .mobile-category__item:nth-last-of-type(3n + 3) .mobile-category__link {
        background-color: #88cf81;
    }
    .mobile-category__link {
        text-decoration: none;
        text-align: center;
        font-size: 1.4rem;
        color: var(--white-color);
        text-align: center;
        line-height: 2rem;
        display: block;
        max-width: 110px;
        max-height: 4rem ;
        border-radius: 4px;
        font-weight: 300;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        user-select: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
        padding: 0 6px;

    }
    .container {
        margin-top: calc(var(--header-height) + 46px);
    }
    /* Footer */
    .footer__download-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .footer__title {
        padding: 20px 0;
    } 
    .footer__title-link {
        border: none;
    }
    .footer__title::after {
        content: "";
        position: relative;
        left: 23%;
        border-right: none;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
    .header__search-selec {
        flex: 0.4;
    }
}
/*  Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        /* display: none; */
    }
    /* Logo */
    .header__logo-img {
        width: 110px;
    }
    /* Search */
    .header__mobile-search {
        display: block;
        padding: 0 12px;
    }
    .header__mobile-search-icon {
        display: block;
        font-weight: 600;
        font-size: 2.8rem;
        color: var(--white-color);
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.05);
        z-index: 6;
        padding: 0 4px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }
    .header__search-input {
        padding-left:0;
    }
    .header__mobile-check:checked ~ .header__search {
        display: flex;
    }
    .header__search-history {
        position: fixed;
        left: 0;
        width: 100%;
        top: calc(var(--header-height) + 46px);
        box-shadow: 0 1px 2px rgba(0,0,0,.5);
        z-index: 11;
    }
    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2)
        }
        to {
            opacity: 1;
            top: calc(var(--header-height))
        }
    }
    .header__search-selec {
        flex: 1;
    }
    .header__logo {
        width: unset;
    }
    .header__cart {
        width: unset;
    }
    /* Containter */
    .content {
        margin: 0;
    }
    /* Pagination */
    .pagination-item {
        margin: 0;
    }
    .pagination-item__link {
        height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

}
@media (min-width: 1024px) {
    .header__bar-mobile-tablet {
        display: none;
    }
    .header__navbar-bar-option {
        display: none;
    }
    #footer-width {
        min-width: 1100px;
    }
}